<form action="/create_superhero" method="post">
	<label for="name">Name</label>
	<input type ="text" id="name" name="superhero[name]">

	<label for="superpower1">Super Power 1</label>
	<textarea id="superpower1" name="superpower1[superpower1]">Super Power 1</textarea>
	<br>

	<label for="superpower2">Super Power 2</label>
	<textarea id="superpower2" name="superpower1[superpower2]">Super Power 2</textarea>
	<br>

	<label for="superpower3"name="superpower3[superpower3]">Super Power 3</label>
	<textarea id="superpower3"></textarea>
	<br>
	<input type="submit" value="Submit">

</form>