<html>
<head>
	<title>Hey Dude@@!!</title>
</head>
<body>
Hey more dude text.

<%	if @instance == "Instance" %>
Dude man. Dudes are all over the place.
<% else %>
Where did all the Dudes Go?
<% end -%>
<br>
<%	@instance2.each do |name| %>
<% name %>
<br>
</body>
</html>