.DS_Store
## class_1/*, - this will ignore all files in the class_1
## koans/* - will ignore all the files in the specified dir

#book-txt-speech/*
koans/*
Notes_do_not_post/*
lab1/*
Nick_sinatra/*
Rails_1_initial_notes/*
#sinatra/*
#junkpile/*
#web_blog/*
projects/*
