<h4>This is a Blog Post</h4>
<h1>show.html.erb in posts folder</h1>

Title: <%= @blog.title%> 
<br>
Content: <%= @blog.content%> 
<br>

<%= link_to "Back to List of Blogs", root_path %>

<%= link_to "Home", root_path %>