<h1>Create Person</h1>
<a href="/"></a>

<form>
	<label>First Name
	<input text="text" name="person[first_name]">
	</label>
	<br>

	<label>Last Name
	<input text="text" name="person[last_name]">
	</label>
	<br>

	<input type="submit" value="Create Person">
</form>

<!-- {person: {first_name:"", last_name:""} -->