<html>
<head>
	<title>Class Title is created automatially</title>

	Style sheets are prebuild
	-two style sheets are created here by default
	-style sheets created when the controller is build
</head>
<body>

<h1>cool rails project</h1>

<% = yeild %>

</body>
</html>