
<html>

<!-- <link rel="stylesheet" type="text/css" href="reset.css"> -->	
<link rel="stylesheet" type="text/css" href="styles.css">

<head>
	<title>Herb Factory</title>

</head>

<body>
	
	<h1>Herb Factory</h1></a></div>

	Navigation: 
	<a href="/home">Home</a> -- 
	<a href="/about_us">About Us</a> -- 
	<a href="/products">Products & Services</a>
	
	
	<%= yield %>

</div>



</body>
</html>