<h1>Create Blog!</h1>
<a href="/">Blog</a>

<form action="/create_blog" method="post">
  <label>
    First Name
    <input type="text" name="person[first_name]">
  </label>
  <br>
  <label>
    Last Name
    <input type="text" name="person[last_name]">
  </label>
  <br>
  <label>
    Last Name
    <input type="text" name="person[last_name]">
  </label>
  <br>
  <label>
    Last Name
    <input type="text" name="person[last_name]">
  </label>
  <br>
  <input type="submit" value="Create Blog">
</form>
