
<h1>We are located at Bubba Center Mall</h1>
<br>
<br>
In the back area by the Tattoo Shop
1234 Bubba Lane
Ladson, SC 29456

<a href="http://www.google.com">Check our our web site</a>
Satisfied Client list:

<ul>
<% @happy_client.each do |client| %>
  <li>
  	Name: <%= client[:person_name] %> 	City: <%= client[:person_city] %> State:<%= client[:person_state] %>
  </li> 
<% end %>
</ul>
